@font-face {
  font-family: 'Avenir_Black';
  src: url("fonts/Avenir_Black.otf");
}

@font-face {
  font-family: 'Avenir_Medium';
  src: url("fonts/Avenir_Medium.otf");
}

@font-face {
  font-family: 'Helvetica';
  src: url("fonts/Helvetica.dfont");
}

* {
  margin: 0;
  padding: 0;
}

h2 {
  color: #28aef1;
  font-size: 25px;
  font-family: 'Avenir_Black';
}

h3 {
  font-family: 'Avenir_Black';
  color: #28aef1;
  font-size: 18px;
}

p {
  margin-bottom: 12px;
  font-family: 'Helvetica';
}

a:visited {
  text-decoration: none;
  color: none;
}

button {
  background-color: #28aef1;
  color: white;
  padding: 8px 70px 8px 70px;
  border-radius: 19.5px;
  font-family: 'Avenir_Medium';
  font-size: 16px;
  outline: none;
  border: none;
}

header {
  display: flex;
  width: 100%;
  height: 34px;
  padding: 10px 0 10px 0;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}

header #logo {
  max-height: 24px;
  margin-left: auto;
  margin-right: 550px;
}

header #menu {
  margin-right: auto;
}

header #menu #options {
  display: inline-block;
  margin: auto 0 auto 0;
  height: 40px;
  /* visited link */
  /* mouse over link */
}

header #menu #options a {
  font-family: 'Avenir_Medium';
  text-decoration: none;
  margin-right: 40px;
}

header #menu #options a:visited {
  color: black;
}

header #menu #options a:hover {
  color: #28aef1;
}

header #menu #options a:active {
  color: #28aef1;
}

header #menu #shoppingcart {
  margin: auto 0 auto 0;
  height: 40px;
  display: inline-block;
  max-height: 40px;
}

#cover img {
  width: 100%;
  display: block;
}

#cover #text-wrapper {
  position: absolute;
  margin-top: -350px;
  margin-left: 6%;
  margin-bottom: 13%;
}

#cover #text-wrapper h1 {
  color: #28aef1;
  font-family: 'Avenir_Black';
  font-size: 49px;
  margin-bottom: 12px;
}

#cover #text-wrapper p {
  color: white;
  font-size: 18px;
}

#products {
  display: flex;
  margin: 6% auto;
  width: 1120px;
}

#products h2 {
  margin-bottom: 5%;
}

#products #ourcameras {
  display: inline-block;
  margin-right: 5%;
}

#products #ourcameras .information {
  padding-bottom: 30px;
}

#products #cameras {
  display: inline-block;
}

#products #cameras .information {
  padding-bottom: 30px;
}

#products .information {
  background-color: #f1f1f1;
  padding: 30px 30px 30px;
}

#products .information p {
  font-family: 'Helvetica';
  color: black;
  font-size: 16px;
}

#social {
  width: 1120px;
  margin: auto;
  max-height: 453px;
}

#social h2 {
  margin-bottom: 5%;
  display: block;
}

#social #socialcontainer {
  display: flex;
}

#social #socialcontainer #twitter {
  display: inline-block;
  margin-right: 5%;
}

#social #socialcontainer #twitter .twitter-timeline {
  overflow: scroll;
}

#social #socialcontainer #igphoto {
  display: inline-block;
  margin-right: 5%;
}

#social #socialcontainer #igphoto .information {
  background-color: #f1f1f1;
  padding: 10px;
}

#social #socialcontainer #igphoto .information h3 {
  font-size: 18px;
}

#social #socialcontainer #igphoto .information p {
  font-family: 'Helvetica';
  color: black;
  font-size: 16px;
}

#social #socialcontainer #text-wrapper-instagram {
  display: inline-block;
}

#social #socialcontainer #text-wrapper-instagram h2 {
  margin-bottom: 0.1em;
  display: block;
}

#social #socialcontainer #text-wrapper-instagram .yellowh2 {
  color: #f7c238;
  display: block;
}

#social #socialcontainer #text-wrapper-instagram button {
  display: block;
}

#tellus {
  display: flex;
}

#tellus #camerainteraction img {
  width: 100%;
}

#tellus #camerainteraction p {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */