@font-face {
  font-family: 'Avenir_Black';
  src: url("fonts/Avenir_Black.otf");
}

@font-face {
  font-family: 'Avenir_Medium';
  src: url("fonts/Avenir_Medium.otf");
}

@font-face {
  font-family: 'Helvetica';
  src: url("fonts/Helvetica.dfont");
}

* {
  margin: 0;
  padding: 0;
}

h2 {
  color: #28aef1;
  font-size: 25px;
  font-family: 'Avenir_Black';
}

h3 {
  font-family: 'Avenir_Black';
  color: #28aef1;
  font-size: 18px;
}

p {
  margin-bottom: 12px;
  font-family: 'Helvetica';
}

a:visited {
  text-decoration: none;
  color: none;
}

button {
  background-color: #28aef1;
  color: white;
  padding: 8px 70px 8px 70px;
  border-radius: 19.5px;
  font-family: 'Avenir_Medium';
  font-size: 16px;
  outline: none;
  border: none;
}

header {
  display: flex;
  width: 100%;
  max-height: 34px;
  padding: 10px 0 10px 0;
  background-color: white;
  justify-content: space-between;
  align-items: center;
}

header #menu-icons {
  max-height: 24px;
  margin-left: auto;
  margin-right: 550px;
}

header #menu-icons #hambmenu {
  display: none;
}

header #menu-icons #logo {
  max-height: 24px;
}

header #toggle {
  display: none;
}

header #menu {
  margin-right: auto;
  display: flex;
}

header #menu #options {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* visited link */
  /* mouse over link */
}

header #menu #options a {
  font-family: 'Avenir_Medium';
  text-decoration: none;
  margin-right: 40px;
}

header #menu #options a:visited {
  color: black;
}

header #menu #options a:hover {
  color: #28aef1;
}

header #menu #options a:active {
  color: #28aef1;
}

header #menu #shoppingcart {
  margin: auto 0 auto 0;
  height: 40px;
  display: inline-block;
  max-height: 40px;
}

#cover img {
  width: 100%;
  display: block;
}

#cover #text-wrapper {
  position: absolute;
  margin-top: -350px;
  margin-left: 6%;
  margin-bottom: 13%;
}

#cover #text-wrapper h1 {
  color: #28aef1;
  font-family: 'Avenir_Black';
  font-size: 49px;
  margin-bottom: 12px;
}

#cover #text-wrapper p {
  color: white;
  font-size: 18px;
}

#products {
  display: flex;
  margin: 5% auto;
  width: 1120px;
}

#products h2 {
  margin-bottom: 36px;
}

#products #ourcameras {
  display: inline-block;
  margin-right: 5%;
}

#products #ourcameras img {
  width: 100%;
}

#products #ourcameras .information {
  padding-bottom: 21px;
}

#products #ourcameras .information #infocam {
  display: inline-block;
}

#products #ourcameras .information #infocam h3 {
  display: block;
}

#products #ourcameras .information #infocam p {
  display: block;
}

#products #ourcameras .information button {
  display: inline-block;
  margin-bottom: 5px;
  padding: 2px 10px 2px 10px;
  border-radius: 4px;
}

#products #complements {
  display: inline-block;
}

#products #complements .information {
  padding-bottom: 30px;
}

#products #wear {
  display: none;
}

#products .information {
  background-color: #f1f1f1;
  padding: 30px 30px 30px;
}

#products .information p {
  font-family: 'Helvetica';
  color: black;
  font-size: 16px;
}

#social {
  width: 1120px;
  margin: auto;
  max-height: 511px;
}

#social h2 {
  margin-bottom: 35px;
  display: block;
}

#social #socialcontainer {
  display: flex;
}

#social #socialcontainer #twitter {
  display: inline-block;
  margin-right: 5%;
}

#social #socialcontainer #twitter .twitter-timeline {
  overflow: scroll;
}

#social #socialcontainer #igphoto {
  display: inline-block;
  margin-right: 5%;
}

#social #socialcontainer #igphoto .information {
  background-color: #f1f1f1;
  padding: 10px;
}

#social #socialcontainer #igphoto .information h3 {
  font-size: 18px;
}

#social #socialcontainer #igphoto .information p {
  font-family: 'Helvetica';
  color: black;
  font-size: 16px;
}

#social #socialcontainer #text-wrapper-instagram {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#social #socialcontainer #text-wrapper-instagram h2 {
  margin-bottom: 0.1em;
}

#social #socialcontainer #text-wrapper-instagram .yellowh2 {
  color: #f7c238;
}

#tellus {
  margin-bottom: 30px;
}

#tellus h2 {
  margin: 30px 0 30px 0;
  text-align: center;
  display: block;
}

#tellus #camerainteraction {
  display: block;
}

#tellus #camerainteraction img {
  width: 100%;
}

#tellus #camerainteraction p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
}

#newsletter {
  background-color: #28aef1;
  padding: 35px 6% 35px 6%;
}

#newsletter #text-wrapper-nl {
  display: inline-block;
}

#newsletter #text-wrapper-nl h2 {
  color: white;
}

#newsletter #text-wrapper-nl p {
  color: white;
}

#newsletter #input-wrapper-nl {
  margin-left: 97px;
  display: inline-block;
}

#newsletter #input-wrapper-nl label {
  margin-left: 5px;
  margin-bottom: 5px;
  display: block;
  font-family: 'Helvetica';
  font-size: 14px;
  color: white;
}

#newsletter #input-wrapper-nl input {
  display: inline-block;
  width: 450px;
  height: 30px;
  border-radius: 19.5px;
  padding-left: 10px;
  margin-right: 10px;
  outline: none;
  border: none;
}

#newsletter #input-wrapper-nl button {
  display: inline-block;
  background-color: #f7c238;
  color: white;
  height: 31px;
  padding: 0 50px 0 50px;
}

#footer h5 {
  font-family: 'Helvetica';
  font-weight: bold;
  font-size: 14px;
  color: #333333;
  margin-bottom: 10px;
}

#footer p {
  font-family: 'Helvetica';
  font-size: 14px;
  color: #333333;
}

#footer li {
  font-family: 'Helvetica';
  font-size: 14px;
  color: #333333;
  list-style-type: none;
  margin-bottom: 6px;
}

#footer #real-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f1f1f1;
  padding: 5% 6% 5% 6%;
}

#footer #real-footer #left-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#footer #real-footer #left-footer img {
  max-width: 145px;
  margin-bottom: 10px;
}

#footer #real-footer #right-footer {
  display: flex;
}

#footer #real-footer #right-footer #help {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
}

#footer #real-footer #right-footer #about {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 800px) {
  header {
    display: block;
    max-height: 200px;
    padding: 0;
  }
  header #menu-icons {
    height: 34px;
    width: 100%;
    display: flex;
    padding: 10px 0 10px 0;
    flex-direction: row;
    justify-content: space-between;
  }
  header #menu-icons #logo {
    display: flex;
    margin-left: 6%;
  }
  header #menu-icons #hambmenu {
    display: flex;
    margin-right: 6%;
    cursor: pointer;
  }
  header #menu {
    display: none;
    width: 100%;
  }
  header #menu #options {
    display: none;
    text-align: center;
    width: 100%;
  }
  header #menu #options a {
    display: none;
    width: 100%;
    border-top: 1px solid #EAEAEB;
    font-size: 15px;
    padding: 10px 0 10px 0;
  }
  header #toggle:checked + #menu {
    display: block;
  }
  header #toggle:checked + #menu #options {
    display: block;
  }
  header #toggle:checked + #menu #options a {
    display: block;
  }
  #cover #text-wrapper {
    position: absolute;
    margin-top: -215px;
    margin-left: 6%;
    margin-bottom: 13%;
  }
  #cover #text-wrapper h1 {
    color: #28aef1;
    font-family: 'Avenir_Black';
    font-size: 45px;
    margin-bottom: 12px;
  }
  #cover #text-wrapper p {
    color: white;
    font-size: 15px;
  }
  #cover #text-wrapper button {
    background-color: #28aef1;
    color: white;
    padding: 8px 70px 8px 70px;
    border-radius: 19.5px;
    font-family: 'Avenir_Medium';
    font-size: 15px;
    outline: none;
    border: none;
  }
  #products {
    flex-direction: column;
    width: 100%;
  }
  #products h2 {
    font-size: 24px;
    margin: 0 0 25px 0;
  }
  #products #ourcameras {
    display: block;
    margin-left: 6%;
    margin-bottom: 25px;
  }
  #products #ourcameras img {
    width: 100%;
  }
  #products #ourcameras .information {
    padding-bottom: 18px;
  }
  #products #ourcameras .information #infocam {
    display: inline-block;
  }
  #products #ourcameras .information #infocam h3 {
    display: block;
    font-size: 15px;
  }
  #products #ourcameras .information #infocam p {
    display: block;
    font-size: 14px;
  }
  #products #complements-cont {
    display: block;
    margin-left: 6%;
    margin-right: 6%;
  }
  #products #complements-cont #complements {
    display: inline-block;
    width: 49%;
  }
  #products #complements-cont #wear {
    display: inline-block;
    width: 49%;
  }
  #products #complements-cont .information {
    width: 100%;
    padding-bottom: 18px;
    display: block;
  }
  #products #complements-cont .information h3 {
    display: block;
    font-size: 15px;
  }
  #products #complements-cont .information p {
    display: block;
    font-size: 14px;
  }
  #social {
    width: 100%;
  }
  #social #socialcontainer #twitter {
    display: none;
  }
  #social #socialcontainer #ig-photo {
    display: inline-block;
  }
  #social #socialcontainer #text-wrapper-instagram {
    display: inline-block;
  }
}
/*# sourceMappingURL=main.css.map */