$blue: #28aef1;
$yellow: #f7c238;
$softgray: #f1f1f1;
$gray: #333333;
@font-face {
    font-family: 'Avenir_Black';
    src: url('public/fonts/Avenir_Black.otf');
}

@font-face {
    font-family: 'Avenir_Medium';
    src: url('public/fonts/Avenir_Medium.otf');
}

@font-face {
    font-family: 'Helvetica';
    src: url('public/fonts/HelveticaNeue.ttf');
}

* {
    margin: 0;
    padding: 0;
}

h2 {
    color: $blue;
    font-size: 25px;
    font-family: 'Avenir_Black';
}

h3 {
    font-family: 'Avenir_Black';
    color: $blue;
    font-size: 18px;
}

p {
    margin-bottom: 12px;
    font-family: 'Helvetica';
}

a:visited {
    text-decoration: none;
    color: none;
}

button {
    background-color: $blue;
    color: white;
    padding: 8px 70px 8px 70px;
    border-radius: 19.5px;
    font-family: 'Avenir_Medium';
    font-size: 16px;
    outline: none;
    border: none;
}

//Menu
header {
    display: flex;
    width: 100%;
    max-height: 34px;
    padding: 10px 0 10px 0;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    #menu-icons {
        max-height: 24px;
        margin-left: 6%;
        margin-right: 25%;
        #hambmenu {
            display: none;
        }
        #logo {
            max-height: 24px;
        }
    }
    #toggle {
        display: none;
    }
    #menu {
        margin-right: 6%;
        display: flex;
        #options {
            display: flex;
            flex-direction: row;
            align-items: center;
            a {
                font-family: 'Avenir_Medium';
                text-decoration: none;
                margin-right: 40px;
            }
            /* visited link */
            a:visited {
                color: black;
            }
            /* mouse over link */
            a:hover {
                color: $blue;
            }
            a:active {
                color: $blue;
            }
        }
        #shoppingcart {
            margin: auto 0 auto 0;
            height: 40px;
            display: inline-block;
            max-height: 40px;
        }
    }
}

//Cover
#cover {
    img {
        width: 100%;
        display: block;
    }
    #text-wrapper {
        position: absolute;
        margin-top: -350px;
        margin-left: 6%;
        margin-bottom: 13%;
        h1 {
            color: $blue;
            font-family: 'Avenir_Black';
            font-size: 49px;
            margin-bottom: 12px;
        }
        p {
            color: white;
            font-size: 18px;
        }
        #responsivep{
            display: none;
        }
    }
}

#products {
    display: flex;
    margin: 5% auto;
    width: 1120px;
    h2 {
        margin-bottom: 36px;
    }
    #ourcameras {
        display: inline-block;
        margin-right: 5%;
        img {
            width: 100%;
        }
        .information {
            padding-bottom: 21px;
            #infocam {
                display: inline-block;
                h3 {
                    display: block;
                }
                p {
                    display: block;
                }
            }
            button {
                display: inline-block;
                margin-bottom: 5px;
                padding: 2px 10px 2px 10px;
                border-radius: 4px;
            }
        }
    }
    #complements {
        display: inline-block;
        .information {
            padding-bottom: 30px;
        }
    }
    #wear {
        display: none;
    }
    .information {
        background-color: $softgray;
        padding: 30px 30px 30px;
        p {
            font-family: 'Helvetica';
            color: black;
            font-size: 16px;
        }
    }
}

#social {
    width: 1120px;
    margin: auto;
    max-height: 511px;
    h2 {
        margin-bottom: 35px;
        display: block;
    }
    #socialcontainer {
        display: flex;
        #twitter {
            display: inline-block;
            margin-right: 5%;
            .twitter-timeline {
                overflow: scroll;
            }
        }
        #igphoto {
            display: inline-block;
            margin-right: 5%;
            .information {
                background-color: $softgray;
                padding: 10px;
                h3 {
                    font-size: 18px;
                }
                p {
                    font-family: 'Helvetica';
                    color: black;
                    font-size: 16px;
                }
            }
        }
        #text-wrapper-instagram {
            display: flex;
            flex-direction: column;
            justify-content: center;
            h2 {
                margin-bottom: 0.1em;
            }
            .yellowh2 {
                color: $yellow;
            }
        }
    }
}

#tellus {
    margin-bottom: 30px;
    h2 {
        margin: 30px 0 30px 0;
        text-align: center;
        display: block;
    }
    #camerainteraction {
        display: block;
        img {
            width: 100%;
        }
        p {
            text-align: center;
            margin-top: 10px;
            margin-bottom: 40px;
        }
    }
}

//Newsletter
#newsletter {
    background-color: $blue;
    padding: 35px 6% 35px 6%; //    display: flex;
    #text-wrapper-nl {
        display: inline-block;
        h2 {
            color: white;
        }
        p {
            color: white;
        }
    }
    #input-wrapper-nl {
        margin-left: 97px;
        display: inline-block;
        label {
            margin-left: 5px;
            margin-bottom: 5px;
            display: block;
            font-family: 'Helvetica';
            font-size: 14px;
            color: white;
        }
        input {
            display: inline-block;
            width: 450px;
            height: 30px;
            border-radius: 19.5px;
            padding-left: 10px;
            margin-right: 10px;
            outline: none;
            border: none;
        }
        button {
            display: inline-block;
            background-color: $yellow;
            color: white;
            height: 31px;
            padding: 0 50px 0 50px;
        }
    }
}

//Footer
#footer {
    h5 {
        font-family: 'Helvetica';
        font-weight: bold;
        font-size: 14px;
        color: $gray;
        margin-bottom: 10px;
    }
    p {
        font-family: 'Helvetica';
        font-size: 14px;
        color: $gray;
    }
    li {
        font-family: 'Helvetica';
        font-size: 14px;
        color: $gray;
        list-style-type: none;
        margin-bottom: 6px;
    }
    #real-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: $softgray;
        padding: 5% 6% 5% 6%;
        #left-footer {
            display: flex;
            flex-direction: column;
            justify-content: space-around; //  margin-right: 140px;
            img {
                max-width: 145px;
                margin-bottom: 10px;
            }
        }
        #right-footer {
            display: flex; //  margin-right: 130px;
            #help {
                display: flex;
                flex-direction: column;
                margin-right: 90px;
            }
            #about {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@media screen and (max-width: 1100px) {
    //Cover
    #cover {
        #text-wrapper {
            position: absolute;
            margin-top: -315px;
            margin-left: 6%;
            margin-bottom: 13%;
        }
    }
}

@media screen and (max-width: 970px) {
    //Cover
    #cover {
        #text-wrapper {
            position: absolute;
            margin-top: -280px;
            margin-left: 6%;
            margin-bottom: 13%;
        }
    }
}

@media screen and (max-width: 900px) {
    header {
        display: block;
        max-height: 200px;
        padding: 0;
        #menu-icons {
            height: 34px;
            width: 100%;
            display: flex;
            padding: 10px 0 10px 0;
            flex-direction: row;
            justify-content: space-between;
            margin-left: 0;
            #logo {
                display: flex;
                margin-left: 6%;
            }
            #hambmenu {
                display: flex;
                margin-right: 6%;
                cursor: pointer;
            }
        }
        #menu {
            display: none;
            width: 100%;
            margin-right: 0;
            #options {
                display: none;
                text-align: center;
                width: 100%;
                a {
                    display: none;
                    width: 100%;
                    border-top: 1px solid #EAEAEB;
                    font-size: 15px;
                    padding: 10px 0 10px 0;
                }
            }
        } //Toggle checked
        #toggle:checked+#menu {
            display: block;
            #options {
                display: block;
                a {
                    display: block;
                }
            }
        } //FINAL DEL HEADER
    } //Cover
    #cover {
        #text-wrapper {
            position: absolute;
            margin-top: -255px;
            margin-left: 6%;
            margin-bottom: 13%;
            h1 {
                color: $blue;
                font-family: 'Avenir_Black';
                font-size: 45px;
                margin-bottom: 12px;
            }
            p {
                color: white;
                font-size: 15px;
            }
            button {
                background-color: $blue;
                color: white;
                padding: 8px 70px 8px 70px;
                border-radius: 19.5px;
                font-family: 'Avenir_Medium';
                font-size: 15px;
                outline: none;
                border: none;
            }
        }
    } //Products
    #products {
        flex-direction: column;
        width: 100%;
        h2 {
            font-size: 24px;
            margin: 0 0 25px 0;
        }
        #ourcameras {
            display: block;
            margin-left: 6%;
            margin-bottom: 25px;
            img {
                width: 100%;
            }
            .information {
                padding-bottom: 18px;
                #infocam {
                    display: inline-block;
                    h3 {
                        display: block;
                        font-size: 15px;
                    }
                    p {
                        display: block;
                        font-size: 14px;
                    }
                }
            }
        }
        #complements-cont {
            display: block;
            margin-left: 6%;
            margin-right: 6%;
            img {
                //width: 100%;
            }
            #complements {
                display: inline-block;
                width: 50%;
            }
            #wear {
                display: none;
                width: 49%;
            }
            .information {
                width: 100%;
                padding-bottom: 18px;
                display: block;
                h3 {
                    display: block;
                    font-size: 15px;
                }
                p {
                    display: block;
                    font-size: 14px;
                }
            }
        }
    } //Social
    #social {
        max-width: 80%;
        margin-left: 6%;
        margin-right: 6%;
        margin-bottom: 25px;
        h2 {
            font-size: 24px;
            margin: 0 0 25px 0;
        }
        #socialcontainer {
            #twitter {
                display: none;
            }
            #ig-photo {
                display: inline-block;
                .information {
                    h3 {
                        font-size: 15px;
                    }
                    p {
                        font-size: 12px;
                    }
                }
            }
            #text-wrapper-instagram {
                h2 {
                    font-size: 24px;
                    margin-bottom: 0.01em;
                }
                p {
                    font-size: 14px;
                }
                button {
                    background-color: $blue;
                    color: white;
                    padding: 8px 60px 8px 60px;
                    border-radius: 19.5px;
                    font-family: 'Avenir_Medium';
                    font-size: 15px;
                    outline: none;
                    border: none;
                }
            }
        }
    } //tell us
    #tellus {
        margin-bottom: 25px;
        h2 {
            font-size: 24px;
            margin: 0 0 25px 0;
            margin-bottom: 25px;
        }
        p {
            font-size: 14px;
        }
    } //Newsletter
    #newsletter {
        h2 {
            font-size: 24px;
            margin: 0 0 25px 0;
            margin-bottom: 0.01em;
        }
        p {
            font-size: 14px;
        }
        #text-wrapper-nl {
            display: block;
            margin-left: 6%;
        }
        #input-wrapper-nl {
            display: block;
            margin-left: 6%;
            input {
                width: 60%;
                height: 25px;
                padding-left: 5px;
                margin-right: 5px;
            }
            button {
                width: 30%;
                height: 28px;
            }
        }
    } //Footer
    #footer {
        h5 {
            font-size: 13px;
        }
        p {
            font-size: 12px;
        }
        li {
            font-size: 13px;
        }
        #left-footer {
            margin-right: 25px;
        }
        #realfooter {
            #right-footer {
                #help {
                    margin-right: 25px;
                }
                #about {
                    margin-right: 15px;
                }
            }
        }
    } //FINAL MEDIA-QUERY
}

@media screen and (max-width: 700px) {
    //Cover
    #cover {
        #text-wrapper {
            position: absolute;
            margin-top: -195px;
            margin-left: 6%;
            margin-bottom: 13%;
            h1 {
                font-size: 39px;
                margin-bottom: 3px;
            }
            p{
                display: none;
            }
            #responsivep{
                display: block;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    //Cover
    #cover {
        #text-wrapper {
            position: absolute;
            margin-top: -155px;
            h1 {
                font-size: 32px;
                margin-bottom: 3px;
            }
            p{
                display: none;
            }
            #responsivep{
                display: block;
            }
        }
    }
}