$blue: #28aef1;
$yellow: #f7c238;
$softgray: #f1f1f1;
$gray: #333333;

@font-face {
    font-family: 'Avenir_Black';
    src: url('fonts/Avenir_Black.otf');
}

@font-face {
    font-family: 'Avenir_Medium';
    src: url('fonts/Avenir_Medium.otf');
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/HelveticaNeue.ttf');
}

* {
    margin: 0;
    padding: 0;
}

h2 {
    color: $blue;
    font-size: 25px;
    font-family: 'Avenir_Black';
}

h3 {
    font-family: 'Avenir_Black';
    color: $blue;
    font-size: 18px;
}

p {
    margin-bottom: 12px;
    font-family: 'Helvetica';
}

a:visited {
    text-decoration: none;
    color: none;
}

button {
    background-color: $blue;
    color: white;
    padding: 8px 70px 8px 70px;
    border-radius: 19.5px;
    font-family: 'Avenir_Medium';
    font-size: 16px;
    outline: none;
    border: none;
}

//Menu
header {
    display: flex;
    width: 100%;
    max-height: 34px;
    padding: 10px 0 10px 0;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    #menu-icons {
        max-height: 24px;
        margin-left: 6%;
        margin-right: 25%;
        #hambmenu {
            display: none;
        }
        #logo {
            max-height: 24px;
        }
    }
    #toggle {
        display: none;
    }
    #menu {
        margin-right: 6%;
        display: flex;
        #options {
            display: flex;
            flex-direction: row;
            align-items: center;
            a {
                font-family: 'Avenir_Medium';
                text-decoration: none;
                margin-right: 40px;
            }
            /* visited link */
            a:visited {
                color: black;
            }
            /* mouse over link */
            a:hover {
                color: $blue;
            }
            a:active {
                color: $blue;
            }
        }
        #shoppingcart {
            margin: auto 0 auto 0;
            height: 40px;
            display: inline-block;
            max-height: 40px;
        }
    }
}